.Zama-button {
    width: 180px; /* Set the width of the button */
    height: 50px; /* Set the height of the button */
}


.ZamagcinaButton{
    color: #333; /* Set text color */
    font-size: 16px; /* Set font size */
    line-height: 1.5; /* Set line height */
    margin-bottom: 20px; /* Set bottom margin */

}


body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom right, #6e45e2, #88d3ce); /* Adjust gradient colors as needed */
    color: white;
}

header {
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent background for header */
    padding: 20px;
    text-align: center;
}

main {
    padding: 20px;
    text-align: center;
}

footer {
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent background for footer */
    padding: 10px;
    text-align: center;
}
