body {
    background: linear-gradient(to right, black 50%, white 50%);
}


.AboutMe-Button{
    background-color: #000000;
    color: #ffffff;  
    font-size: 16px; 
    line-height: 1.5; 
    margin-bottom: 20px; 
    margin-right: 20px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5s ease, transform 0.5s ease, box-shadow 0.3s ease;
}

.AboutMe-Button:hover{
    background-color: #000000; 
    transform: scale(1.1); 
    box-shadow: 0 0 20px 5px #feffff;
}

.Home-button{
    margin-top: 10px;
    background-color: #000000;
    color: #ffffff; 
    font-size: 16px;
    line-height: 1.5; 
    margin-bottom: 20px; 
    margin-right: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5s ease, transform 0.5s ease, box-shadow 0.3s ease;

    
}

.Home-button:hover {
    background-color: #000000;
    transform: scale(1.1);
    box-shadow: 0 0 20px 5px #ffffff;
}


.Skills-button {
    margin-top: 10px;
    background-color: #000000;
    color: #ffffff; 
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px; 
    margin-right: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5s ease, transform 0.5s ease, box-shadow 0.3s ease;
}

.Skills-button:hover {
    background-color: #000000;
    transform: scale(1.1);
    box-shadow: 0 0 20px 5px #ffffff;
}


.Projects-button{
    margin-top: 10px;
    background-color: #000000;
    color: #ffffff;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
    margin-right: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5s ease, transform 0.5s ease, box-shadow 0.3s ease;
}

.Projects-button:hover {
    background-color: #000000;
    transform: scale(1.1);
    box-shadow: 0 0 20px 5px #ffffff;
}

.Contact-button{
    background-color: #000000;
    color: #ffffff;
    font-size: 16px; 
    line-height: 1.5;
    margin-bottom: 20px;
    margin-right: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5s ease, transform 0.5s ease, box-shadow 0.3s ease;
}

.Contact-button:hover{
    background-color: #000000;
    transform: scale(1.1);
    box-shadow: 0 0 20px 5px #ffffff;
}

.container {
    display: flex;
}

.myprofile {
    width: 600px;
    margin-right: 20px; 
}

.content {
    display: flex;
    flex-direction: column;
}

.about-box {
    color: rgb(255, 255, 255);
    background-color: #000000;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    width: 300px;
    margin-top: 10px;
}

.skills-container, .projects-container {
    color: rgb(255, 255, 255);
    background-color: #000000;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-top: 10px;
}



.contact-box {
    color: #000000;
    background-color: #ffffff;
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 50px;
    margin-top: 20px;
    margin-left: 500px;
    width: fit-content; /* Adjust width as needed */
}





.cv-button{
    margin-left: 500px;
}